.root {
	background-color: light-dark(var(--mantine-color-priLight-8), var(--mantine-color-secDark-4));
	color: light-dark(var(--mantine-color-bgLight-0), var(--mantine-color-bgLight-0));
}

.slide {
	position: relative;
	overflow: hidden;
	// height: 400px;
}

.image {
	position: absolute;
	top: -10%;
	left: 0;
	right: 0;

	z-index: -2;
}

.overlay {
	background-color: rgba($color: #000000, $alpha: 0.5);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
