.card {
	height: 100%;
	padding: var(--mantine-spacing-xs);
	border-radius: var(--mantine-radius-md);
	background-color: light-dark(var(--mantine-color-priLight-8), var(--mantine-color-secDark-4));
	color: light-dark(var(--mantine-color-bgLight-0), var(--mantine-color-bgLight-0));
	overflow: visible;

	@include hover {
		.image {
			transform: scale(1.1);
		}

		.title {
			color: light-dark(var(--mantine-color-bgLight-0), var(--mantine-color-bgLight-0));
		}

		.imageContainer {
			top: calc(-1 * var(--mantine-spacing-xl));
		}
	}
}

.title {
	transition: 0.25s all ease;
	color: light-dark(var(--mantine-color-secDark-4), var(--mantine-color-bgLight-0));
}

.imageContainer {
	transition: 0.25s all ease;
	overflow: hidden;
	border-radius: var(--mantine-radius-md);
	position: relative;
	top: 0;
}

.image {
	transition: 0.25s all ease;
	transform: scale(1.05);
}
